.btn {
  background-color: orange;
  color: #fff;
  font-weight: bolder;
  font-size: 2rem;
  cursor: pointer;

  &-zero {
    grid-column: span 2;
  }

  &-number {
    background-color: #d6d6d6;
    color: #000;
  }

  &-equal {
    background-color: #4bb543;
  }

  &-danger {
    background-color: #f00;
  }
}
