.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.75rem;
  margin-top: 0.5rem;

  & > h1 {
    color: #fff;
  }
}

.right {
  width: 700px;
  grid-column-start: 2;
}

.calculator-container {
  border: 2px solid #000;
}
