.nav {
	display: flex;
	justify-content: space-between;
	background-color: peru;
	padding: 1rem 2.5rem;

	& > .nav-title {
		font-size: 3rem;
	}
}

.nav-list {
	list-style: none;
	display: flex;
	align-items: center;

	& li {
		margin: 0 1rem;
	}

	& a {
		color: #fff;
		font-size: 1.5rem;
	}
}
