#root {
	display: grid;
	grid-template-rows: auto 1fr;
	min-height: 100vh;
	position: relative;
}

body {
	position: relative;
	background: url('../../assets/bg.jpg');
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		background-color: hsla(0, 0, 0, 0.85);
		position: absolute;
	}
}

.quote-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.2rem 1.5rem;

	& > .home-quote {
		font-size: 1.5rem;
		color: #fff;
	}
}
